// bower:scss
@import "bourbon/dist/_bourbon.scss";
@import "neat/app/assets/stylesheets/_neat.scss";
// endbower
@import "reset";
@import "variables";
@import "helpers";



/* Switches */
/* Debugging tools (uncommenting + recommenting repeatedly is boring) */
$show-media-queries: on;
// todo: add $show-element-borders;

// Typography

%title-font {
  @extend %mono-bold;
}
%body-font {
  @extend %mono-regular;
}
%site-title-font {
  @extend %title-font;
  text-transform: uppercase;
  @include media($grandkid){
    font-size: rem(18);
    br { display: none; }
  }
  @include media($daughter){
    font-size: rem(36);
    br { display: inline; }
  }
}

%site-description-font {
  @extend %body-font;
  @include media($grandkid){
    font-size: rem(10);
  }
  @include media($daughter){
    font-size: rem(14);
  }
  @include media($mother){
    font-size: rem(18);
  }
}

@include keyframes(fadeShrink) {
  0% { 
      width: 90% ;
      margin: 0 5%;
      background: $color-base;
      height: 2px;
  }
  30% {
      height: 5px;
      width: 90%;
      margin: 0 5%;
      background: $color-base;
  }
  70% { width: 100% ;
        margin: 0;
        height: 3px;
    }
  100% { width: 50% ;
         margin: 0 25%;
         background: $color-light;
         height: 1px;
    }
}
@include keyframes(colorFade) {
  0% {
    color: $color-base;
  }
  30% {
    color: lighten($color-base, 50%);
  }
  50% {
    color: darken($color-base, 10%);
  }
  100% {
    color: $color-base;
  }
}

@mixin link-animation {
    // todo: use JS to make mobile touch friendly
    &:after {
    content: '';
    width: 90%;
    margin: 0 5%;
    height: 2px;
    background: $color-base;
    position: absolute;
    top: 100%;
    left: 0;
    //transition: all .4s ease;
  }
  &:hover {
    &:after { 
      //background: $color-light;
//      width: 50%;
      //margin: 0 25%;
      background: $color-light;
      @include animation(fadeShrink .8s ease);
    }
  }
  &:active {
    @include animation(colorFade .2s ease);
  }
}

// todo: move above to @imports

body {
  @extend %mono-regular;
  background: $color-base;
  color: $color-dark;
  &:before{
    @if ($show-media-queries == "on"){
      @include show-queries;
    }
  }
}

h1 {
  @extend %title-font;
}
h2 {
  @extend %title-font;
}

p {
  @extend %body-font;
}

a {
  @extend %body-font;
  text-decoration: none;
  color: $color-base;
  display: inline-block;
  position: relative;
}

header { 
  @include outer-container;
  background: $color-light;
  width: 100%;
  transition: height 1s ease;
  @include media($grandkid){
    height: 30%;
    padding: 1rem;
  }
  @include media($daughter){
    height: 40%;
    padding: 3rem;
  }
}

header{

}

header h1 {
  @extend %site-title-font;
  color: $color-dark;
  position: relative;
  z-index: 1;
  &:after {
    content: attr(data-title);
    position: absolute;
    color: $color-light;
    top: 2px;
    left: 0;
    z-index: -1;
  }
  &:before {
    content: "Miriam Kennedy Nadler";
    position: absolute;
    color: $color-base;
    top: 4px;
    left: 0;
    z-index: -2;
  }
}

header p {
  @extend %site-description-font;
  @include media($grandkid){
    margin: 1rem 0;
    text-align: left;

  }
  font-size: rem(16);
  line-height: 1.667;
}

header p a {
    @include link-animation;   

}

div.title-container {
  @include media($grandkid) {
    @include span-columns(12 of 12);
  }
  @include media($daughter) {
    @include span-columns(12 of 12);
  }
}

div.about-container {
  @include media($grandkid){
    @include span-columns(12 of 12);
    @include shift(0);
  }
}





section {
  overflow-x: scroll;
  width: 100%;
}

div.portfolio{
  display: table;
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
  border-spacing: 1rem;
}

.portfolio > article {
  border: 1px solid $color-light;
  background: $color-base;
  padding: 5px;
  height: 15rem;
  width: 15rem;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.portfolio-item h2 {
  color: $color-base;
  line-height: 4.5rem;
  margin-left: 1rem;
  float: left;
  font-size: rem(18);
}
.portfolio-item p {
  line-height: 4.5rem;
  font-size: rem(18);
  }

article[data-site="blaudit"] {
  @include linear-gradient(to right, #FFA794, #FFC98E);
  cell-padding: 5px;
}



.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
