body {
  @extend %mono-regular;
  background: $color-base;
  color: $color-dark;
}

section {
  padding: 1rem;
  @include media($daughter){
    padding: 3rem;
  }
}
section.top {
  display: block;
  overflow: auto;
  width: 100%;
  background: $color-light;
}
section.projects {
  display: block;
  overflow: auto;
  width: 100%;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a{
  transition: background .2s ease;
  background: $color-base;
  &:hover {
    background: rgba(230, 230, 230, .5);
  }
  &:active {
    background: rgba(230, 230, 230, 0);
  }
}