section.projects {
  position: relative;
}

.project {
  float: left;
  background: blue;
  margin: 2rem;
  padding: .5rem;
  position: relative;
  transition: all 1.5s ease-in-out;
  @include media($grandkid){
    margin: 1rem auto;
    width: 100%;
    height: 10rem;
  }
  @include media($daughter){
    height: 15rem;
    @include span-columns(6);
    &:nth-child(3), &:nth-child(5){
      margin-right: 0;
    }
  }
  @include media($mother){
    &:nth-child(3) { margin-right: 2.3%; }
    @include span-columns(3);
  }
  &:hover {
    box-shadow: 0px 2px 0px $pink-salmon;
  }
}

// 

.projects .section-header {
  padding: 0;
  position: relative;
  height: 5rem;
}

.projects h1 {
  position: relative;
  display: inline-block;
  z-index: 3;
  @include clearfix;
}




// TODO: abstract project cards

.project-blaudit{
    @include linear-gradient(to right, #ffa794, #ffc98e);
  }
  
.project-colorstreamer{
  // Multiple linear-gradients - Demo
  position: relative;
  z-index: 1;
  &:before{
    content:'';
    width: 100%;
    height: 100%;
    background: #888888;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #fbb03b 0%, #fbb03b 12.5%, transparent 0%),
                          linear-gradient(to right, #f7931e 12.5%, #f7931e 25%, transparent 20%),
                          linear-gradient(to right, #fcee21 25%, #fcee21 37.5%, transparent 20%),
                          linear-gradient(to right, #d9e021 37.5%, #d9e021 50%, transparent 20%),
                          linear-gradient(to right, #CCCCCC 50%, #CCCCCC 62.5%, transparent 20%),
                          linear-gradient(to right, #808080 62.5%, #808080 75%, transparent 20%),
                          linear-gradient(to right, #d4145a 75%, #d4145a 87.5%, transparent 20%),
                          linear-gradient(to right, #9e005d 87.5%, #9e005d 100%, transparent 20%);
  }
  .project span, p {
    background: rgba(255,255,255,0.45);
  }
}

  .project span, p, a {
    position: relative;
    z-index: 3;
  }

.project-sunlight {
    background: #a6cbcd;
    z-index: 1;
    position: relative;
    &:after {
      content:'';
      width: 5rem;
      height: 5rem;
      border-radius: 2.5rem;
      background: rgb(255, 243, 131);
      z-index: 2;
      position: absolute;
      top: 20%;
      left: 40%;
    }
}

.project-modular {
  background: #999999;
  z-index: 1;
  position: relative;
  &:before {
    content:'';
    width: 100%;
    height: 44%;
    background: #888888;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.project-mkopas {
  background: #ccc;
  z-index: 2;
  position: relative;
  &:after {
    content:'merritt.kopas';
    font-family: futura;
    font-size: 3rem;
    overflow: hidden;
    width: 100%;
    height: 25%;
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: .1;
  }
}


.project a {
  position: absolute;
  bottom: .5rem;
  right: .5rem;
}