.intro {
  @include each-query(width, (100%, 50%, 50%, 50%));
  p {
    @include media($grandkid){
      margin-top: rem(24);
    }
    @include media($daughter){
      margin-top: rem(32);
    }
  }
}

header {
  width: 100%;
  position: relative;
  h1 {
    display: inline-block;
  }
}

.text-column {
  @include media($grandkid){
    @include span-columns(10);
    margin-top: rem(36);
  }
  @include media($daughter){
    @include span-columns(10);
    margin-top: rem(36);
  }
  @include media($mother){
    @include span-columns(4);
  }
}

.text-column h2 {
  display: inline-block;
  position: relative;
  margin-right: 100%;
  /*&:before{
      content: "";
      transition: width 1s ease;
      width: 0;
    }
  &:after{
      content:"";
    }
  &:hover{
    &:before{
      content: "<";
      width: 1rem;
      @include animation(glitch 1s ease infinite);
    }
    &:after{
      content:"/>";
      @include animation(glitch 1s ease infinite);
    }
  }
    */
    &:before, &:after {
      display:inline-block;
      position:absolute;
      opacity: 0;
      transition: all 1s ease;
    }
    &:before{
      content:'<';
      left: -1rem;
    }
    &:after {
      content: '/>';
      right: -2rem;
    }
    &:hover{ 
      &:before{
        left: -.8rem;
        opacity: 1;
      }
      &:after{
        content:'/>';
        opacity: 1;
        right: -1.5rem;
        @include animation(spread);
      }
    }
  
}

section.top a {
  position: relative;
}

// These are all new animation styles & are messy. 
// TODO : refactor animations
// TODO : seriously this is pretty messy 
// TODO : I feel bad

h1 span {
  display: inline-block;
  @include transition(all .1s ease-in-out);
  &:hover, &:active {
    @include transform(translateY(-.2rem));
  }
}

header{
  @include clearfix;
}
.intro, #ghost {
  float: left;
}
#ghost {
  width: 100%;
  position: absolute;
  &:after{
    @include media($grandkid){
      content: attr(data-mobile);
    }
    @include media($daughter){
      content: attr(data-full);
    }
  }
  @include media($grandkid){
    margin: 0 auto auto 0;
    top: 3rem;
    left: 0;
  }
  @include media ($daughter){
    margin: 0 0 0 10%;
    right: 0;
    bottom: 0;
    top: inherit;
    left: inherit;
  }
  
  //border: 1px solid gray;
  
  span {

    width: 50%;
    display: block;
    background: $gray;
    opacity: .2;
    border-radius: 0 1rem 1rem 0;
    //display: none;
    @include transition(
      width 4s ease-in-out,
      background 3s ease-in-out,
      border-radius 2s ease
    );
  }
  span.boo{
    //display: none;
    opacity: .3;
    background: $pink-salmon;
    border-radius: 0;
    width: 10%;
    border-right-color: $pink-salmon;
  }
  @include media($grandkid){
    span {
      height: .75rem;
      margin: .33rem 0;
      width: 100%;
    }
    span.boo {
      width: 10%;
    }
  }
  @include media($daughter){
      span {
        height: 1rem;
        margin: .44rem 0;
        width: 60%;
      }
      span.boo {
        width: 10%;
      }
  }
  @include media($mother){
      span {
        width: 40%;
      }
  }
  span.visible {
    display: block;
  }

}