.intro {
  @include each-query(width, (100%, 80%, 60%, 80%));
}

header {
  width: 100%;
  position: relative;
  h1 {
    display: inline-block;
  }
}

.text-column {
  @include media($grandkid){
    @include span-columns(10);
    margin-top: rem(36);
  }
  @include media($daughter){
    @include span-columns(10);
    margin-top: rem(36);
  }
  @include media($mother){
    @include span-columns(4);
  }
}

section.top a {
  position: relative;
}