.intro {
  @include each-query(width, (100%, 50%, 50%, 50%));
}

header {
  width: 100%;
  position: relative;
  h1 {
    display: inline-block;
  }
}

.text-column {
  @include media($grandkid){
    @include span-columns(10);
    margin-top: rem(36);
  }
  @include media($daughter){
    @include span-columns(10);
    margin-top: rem(36);
  }
  @include media($mother){
    @include span-columns(4);
  }
}

section.top a {
  position: relative;
}

h1 span {
  display: inline-block;
  @include transition(all .1s ease-in-out);
  &:hover{
    @include transform(translateY(-.2rem));
  }
}

header{
  @include clearfix;
}
.intro, #ghost {
  float: left;
}
#ghost {
  &:after{
    @include media($grandkid){
      content: attr(data-mobile);
    }
    @include media($daughter){
      content: attr(data-full);
    }
  }
  @include media($grandkid){
    float: right;
    position: relative;
    width: 100%;
    margin: 1rem auto auto 0;

  right: 0;
  bottom: 0;
  }
  @include media ($daughter){
    width: 100%;
    margin: 0 0 0 10%;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  
  //border: 1px solid gray;
  
  span {
    height: 1rem;
    width: 40%;
    display: block;
    background: $gray;
    margin: .44rem 0;
    opacity: .2;
    @include transition(all 3s ease-in);
    border-radius: 5%;
  }
  span.boo{
    opacity: .3;
    background: $pink-salmon;
    border-radius: 0;
    width: 10%;
  }

}