// HELPER FUNCTIONS + MIXINS

// Dependencies
	@import "variables";

// Iterate over all queries, changing a single value each time.
// example: @include each-query(margin-bottom, (1rem, 2rem, 2rem, 3rem));
	@mixin each-query($property, $values, $the-queries:$queries) {
	  @each $query, $value in zip($the-queries, $values){
	    @include media($query){
	      #{$property}: $value;
	    }    
	  }
	}

// Show a colored bar signifying which media query is active
// To use: @include show-queries, or see debug switches (in main.scss)
	// todo: make placement-agnostic
@mixin show-queries{
	content:'';
	width: 100%;
	height: 10px;
	display: block;
	position: fixed;
	bottom: 0;
	z-index: 2;
	$bar-colors: red, orange, yellow, green;
	@include each-query(background, $bar-colors);
}

@mixin debug-borders {
  body {
    * { border: 3px solid red; }
    * > * { border: 2px solid orange; }
    * > * > * { border: 1px solid yellow; }
    * > * > * > * { border: 1px solid green; }
  }
}
@mixin debug-media {
  body:before{
    @include show-queries;
  }
}